<%
   #     Copyright 2014 Nicholas Lochner
   #
   #     This file is part of Nicholas Lochner's Portfolio.
   #
   #     Nicholas Lochner's Portfolio is free software: you can redistribute it and/or modify
   #     it under the terms of the GNU General Public License as published by
   #     the Free Software Foundation, either version 3 of the License, or
   #     (at your option) any later version.
   #
   #     Nicholas Lochner's Portfolio is distributed in the hope that it will be useful,
   #     but WITHOUT ANY WARRANTY; without even the implied warranty of
   #     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   #     GNU General Public License for more details.
   #
   #     You should have received a copy of the GNU General Public License
   #     along with Nicholas Lochner's Portfolio.  If not, see <http://www.gnu.org/licenses/>.
%>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Nicholas Lochner">
  <!-- <link rel="icon" href="../../favicon.ico">-->
  <title>Nicholas Lochner - <%=@project.name%></title>
  <%= erb(:head_includes, :layout => false) %>
  <link href="/css/comments.css" rel="stylesheet">
</head>
<body>

<%#= erb(:navigation, :layout => false) #@todo: Refactor to use the navigation.erb%>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Nicholas Lochner</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/projects">Projects</a></li>
        <li><a href="/resume">Resume</a></li>
        <li data-toggle="modal" data-target="#contactModal"><a href="#">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<% if @comments_enabled
       comments_list = @comments.get_comments(@project.name) # Get the comments for this project.
       # Set the number of comments to display.
       if comments_list
         num_comments = comments_list.length
       else
         num_comments = 'No' # Display 'No' instead of 0 comments if there are no comments.
       end
   end %>

<div class="container">
  <br>
  <h4><a href="/projects/"><i class="fa fa-long-arrow-left"></i> Back to Projects</a></h4>
  <br>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @project.name.gsub(/_/, ' ') %></h3>

    </div>
    <div class="panel-body">
      <%= @project.description %>

      <% if @display_svn_info %>
      <hr>
      Latest SVN revision: r<%= @project.head_revision %>
      <br>
      Last modified: <%= @project.date %>
      <br>
      Last commit message (r<%= @project.message_rev %>): <%= @project.last_message %>
      <% end %>
      <br>

      <% if @comments_enabled %>

      <div class="panel-group">
        <hr>
        <span style="position: relative;top:-10px;"><b><%=num_comments%> comments:</b></span>
        <div class="actionBox">
          <ul class="commentList">
            <div class="commentGroup" style="margin-left: 0;"><!-- Div to draw vertical line grouping comment levels-->
              <% if comments_list
                   last_depth = 0 # Set the last depth to 0, this variable is used to determine how many divs to close.
                   comments_list.each do |comment| # for each comment
                     current_depth = comment['Depth'].to_i # Get the current depth.
                     if current_depth==0 # Set the div margin based off of the depth.
                       margin_left = 0
                     else
                       margin_left = 40
                     end
                     if comment==comments_list.last # If this is the last comment, set no margin on bottom
                       margin_bottom = 0
                     else
                       margin_bottom = 10
                     end
                     if current_depth < last_depth # Close divs when the depth is moving towards the root.
                       multiplier = last_depth - current_depth%>
                          <%="</div>"*multiplier %>
                      <% end %>

                      <% if current_depth > last_depth # If this comment is a child, create a new div to indent and draw vertical line.%>
                          <div class="commentGroup" style="margin-left: <%=margin_left %>px;">
                      <% end %>
                      <li style="background-color: <%=comment['Color'] %>; margin-bottom:<%=margin_bottom%>px;">
                        <div class="commentName">
                          <%=comment['Name']%> <span class="date sub-text"><%=comment['Date']%> <a style="cursor: pointer;" onclick="setReply(<%="'" + comment['Name'] + "'"%>, <%=comment['Comment_ID'] %>)">reply</a></span>
                        </div>
                        <br>
                        <div class="commentText">
                          <p class=""><%=comment['Comment']%></p>
                        </div>
                      </li>
                  <% last_depth = current_depth
                     end
                     end # The HTML markup error below is safe to ignore, I think it's being caused due to opening and closing divs with ruby. %>
              </ul>
          <hr>
          <span id="replyText">Post comment:</span>
          <form class="form-horizontal" role="form" style="margin-top:10px" action="/post_comment/<%=@project.name%>" method="post">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-1 control-label">Name</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" name="inputName" required>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="col-sm-1 control-label">Comment</label>
              <div class="col-sm-10">
                <textarea class="form-control" name="inputComment" rows="3" required></textarea>
              </div>
            </div>
            <input type="hidden" name="inputParent_ID" value="0">
            <div class="form-group">
              <div class="col-sm-offset-1 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <% else %>
          <br>
    <% end %>
    <% print('display src: \n')
       print(@project.display_source)
       puts ''

       if @project.display_source %>
    <div class="panel-footer">
      <div class="source-footer">
        Source listing:
        <a href="/archive/<%= @project.name %>.zip" style="float: right;"><span class="glyphicon glyphicon-arrow-down"></span> Download source archive</a>
      </div>
      <div class="panel-files">
        <table class="table">
          <thead>
          <tr>
            <th>type</th>
            <th>name</th>
            <th>size</th>
            <% if @display_file_details %>
            <th>revision</th>
            <th>message</th>
            <th>author</th>
            <th>date</th>
            <% end %>
          </tr>
          </thead>
          <tbody>
          <% for @file in @project.file_list
               class_string, target_class, toggle_class_string = @file.generate_class_strings
          %>
              <% if @file.parent_path_escaped == "" %>
                  <tr>
              <% else %>
                  <tr class="<%=class_string %>" style="background-color: <%=@file.color %>;">
              <% end %>
              <td>
                <%= @file.padding%><i class="<%=@file.icon %>"></i>
                <%= @file.type %>
              </td>
              <% if @file.type == 'dir' %>
                  <td>
                    <%= @file.padding%><a class="<%=toggle_class_string %>" onclick="ToggleChildren(this, '<%=target_class %>')" style="cursor: pointer;"><%= @file.name %></a>
                  </td>
              <% elsif @file.type == 'image' %>
                  <td>
                    <%= @file.padding%><a class="fancybox" href="<%= '/projects/'+@project.name+'/'+@file.path %>"><%= @file.name %></a>
                  </td>
              <% elsif @file.type.include? 'archive' %>
                  <td>
                    <%= @file.padding%><a href="<%= '/projects/'+@project.name+'/'+@file.path %>?download=true" download="<%= @file.name %>"><%= @file.name %></a>
                  </td>
              <% else %>
                  <td>
                    <%= @file.padding%><a href="<%= '/projects/'+@project.name+'/'+@file.path %>"><%= @file.name %></a>
                  </td>
              <% end %>
              <td><%= @file.size %></td>

              <% if @display_file_details %>
              <td>r<%= @file.head_revision %></td>
              <td><%= @master_log.message(@file.head_revision) %></td>
              <td><%= @file.author %></td>
              <td><%= @file.date %></td>
              <% end %>

              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
   <% end %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Contact Me</h4>
      </div>
      <div class="modal-body">

        <script TYPE="text/javascript">
            <!--
            // protected email script by Joe Maller
            // JavaScripts available at http://www.joemaller.com
            // this script is free to use and distribute
            // but please credit me and/or link to my site

            emailE='gmail.com'
            emailE=('njlochner' + '@' + emailE)
            document.write('<A href="mailto:' + emailE + '" style="color:#009900">' + emailE + '</a>')

            //-->
        </script>
        <br>(772) 206-0737
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/bootstrap.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/js/ie10-viewport-bug-workaround.js"></script>

<!-- Add fancyBox main JS and CSS files -->
<script type="text/javascript" src="/fb/jquery.fancybox.js?v=2.1.5"></script>
<link rel="stylesheet" type="text/css" href="/fb/jquery.fancybox.css?v=2.1.5" media="screen" />

<script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox").fancybox();
    });
</script>

<script>
    form = document.forms[0];

    /**
     * Function to set the comment box to reply to another post.
     * @param parentName The name of the parent post's author.
     * @param ID The ID of the parent post.
     */
    function setReply(parentName, ID){
        form['inputParent_ID'].value = ID;
        document.getElementById("replyText").innerHTML = "Reply to " + parentName +": <a style=\"cursor: pointer;\" onclick=\"cancelReply();\">Cancel reply and post new comment.</a>";//<a>Cancel reply.</a>
    }

    /**
     * Function to set the comment box back to default.
     */
    function cancelReply(){
        form['inputParent_ID'].value = 0;
        document.getElementById("replyText").innerHTML = "Post comment:";
    }
</script>

</body>
</html>
